.home_container{
    display: flex;
    align-items: center;
    background-color: green;
    justify-content: center;
    height: 100vh;
}

.footer{
    padding: 21px 0;
    color: white;
    font-size: 18px;
    background-color: black;
}

.footer p{
    margin: 0;
}

.footer  a{
    text-decoration: none;
    color: white;
}