.home_container{
    display: flex;
    color: white;
    align-items: center;
    background-color: rgb(57, 174, 241);
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

/* Form  */
.form_card{
    color: black;
    width: 80%;
    padding: 60px 20px;
    background-color: rgb(141, 174, 236);
    border-radius: 10px;
    box-shadow: 12px 6px 13px 5px black;
}
.form_container{
    display: flex;
    color: white;
    align-items: center;
    background-color: rgb(94, 82, 255);
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

/* SignUp Container  */
.signup_container{
    display: flex;
    color: white;
    align-items: center;
    background-color: rgb(94, 82, 255);
    justify-content: center;
    flex-direction: column;
    height: 130vh;
}

/* Profile Container  */
.profile_container{
    display: flex;
    color: white;
    align-items: center;
    background-color: rgb(94, 82, 255);
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}


.footer{
    padding: 21px 0;
    color: white;
    font-size: 18px;
    background-color: black;
}

.footer p{
    margin: 0;
}

.footer  a{
    text-decoration: none;
    color: white;
}